@import 'variables';

*,
*::before,
*::after {
  //box-sizing: inherit;
  -webkit-box-sizing: border-box;box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  background: @white;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; // or we can go Lato
  //Regular, Bold, Black, Light, Light-Italic
  //check if you have to do this by numbers like 400 for regular and 700 for bold
  //CSS SYNTAX ---- font-weight: normal|bold|bolder|lighter|number|initial|inherit;
  margin: 0;
  font-size: 1rem;
}
