// COLORS

@lightBlue: #5ec5f0;
@blue: #22b3eb;
@darkBlue: #1985b0;
@green: #89c732;
@lightGrey: #d1d9e9;
@grey: #879caf;
@darkGrey: #4d5b6a;
@white: #dce2ed;
@black: #39444e;
// Victor- please throw in a red for alerts and highlights and we should be good.