.NavBarSegment{
    width: 100%;
    background-color: #282c34;
}

.NavBarMenu{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}

.MenuItem{
    color: Lavender !important;
}

#SearchBar{
    margin: auto;
    margin-top: 5px;
    border: 1px solid #282c34;
    padding: 5px 50px;
    color: #282c34;
}