.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: Lavender;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  position: relative;
}

.App-link {
  color: #09d3ac;
}
.error {
  background: rgba(238, 11, 11, 0.459);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}